h2 {
    color: yellow;
    font-family: "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
}

p {
    font-family: monospace;
}

img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.centerText {
    text-align: center;
}

#navigation{
    color: red;
    text-align: center;
    background-color: aqua;
}

#companyName {
        color: #cb0049;
        text-align: center;
        background-color: deepskyblue;
        font-family: cursive;

}

#container{
    margin: 0 auto;
    width: 1000px;
    background-color: blue;
}


body{
    background-color:#900c3f;
}