h2 {
    color: yellow;
    font-family: "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
}

p {
    font-family: monospace;
}

img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.centerText {
    text-align: center;
}

#navigation{
    text-align: center;
}

#companyName {
        color: #2d28bf;
        text-align: center;
        font-family: "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;

}

#container{
    margin: 0 auto;
    width: 1000px;
    background-color: #6ee1fa;
}



body{
    background-color: purple;
}

#navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #896389;
}

#navigation li {
    display: inline-block;
}

#navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#navigation li a:hover {
    background-color: #bc8cbc;
}